body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    user-select: none;
}

.header {
    margin: 20px;
    padding-left: 190px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid red;
    border-radius: 20px;
}

.grid {
    display: flex;
    /* border: .5px solid black; */
    background-color: white;
}

.button {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: beige;
}

.button:hover {
    /* background-color: gray; */
    cursor: pointer;
    transform: translateY(-5px);
}

.board {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    /* z-index: 10000; */
}
