body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 20px;
    padding-left: 190px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 30px solid red;
    border-radius: 20px;
}

.grid {
    display: flex;
    /* border: .5px solid black; */
    background-color: white;
}

#eraser, #reset, #clear, #draw, #random {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

#eraser:hover, #reset:hover, #clear:hover, #draw:hover, #random:hover {
    background-color: gray;
    cursor: pointer;
}

.board {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}