body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    border: .5px solid black;
    background-color: white;
}

.eraser, #reset {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}